---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
🌟Passionate professional transitioning from the art industry🎨to tech, blending digital imaging, database management, and machine learning to drive innovation. 💻Skilled software engineer with museum and art conservation expertise, bringing meticulous and proactive problem-solving to every task.
  </div>
  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Science (MS) in Computer Science"
      subtitle="2023 to 2025 at University of York, UK"
    >
  - Current GPA: 3.7 to 4.0<br />
</TimeLineElement>
    <TimeLineElement
      title="Master of Science (MS) in Conservation and Restoration, specializing in Modern Materials"
      subtitle="2021 to 2023 at Universitat Politècnica de València, Spain"
    >
  - GPA: 4.0<br />
  - Honors in 20% of credits. <br />
</TimeLineElement>
    <TimeLineElement
      title="Bachelor of Arts (BA) in Conservation and Restoration, specializing in Organic Chemistry"
      subtitle="2017 to 2021 at Universidad Complutense de Madrid, Spain"
    >
  - GPA: 4.0<br />
  - Honors in 25% of credits. <br />
  </div>



  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Trainee Conservator (Santander grantee)"
      subtitle="From 0ct 2022 to Sep 2023 at IVAM Institut Valencià d'Art Moderne, Valencia, Spain"
    >
    I was awarded a <strong>Santander Scholarship</strong> for my internship at the IVAM (Institut Valencià d'Art Modern). This internship supported my master's research on consolidating the raised impasto paint layer in Antonio Saura's oil paintings from the 1950s and 60s, involving studies of about 30 paintings sourced from the collections of <strong>IVAM</strong>, the Cultural Center of the <strong>Fundació La Caixa</strong>, and the <strong>Museo Nacional Centro de Arte Reina Sofía</strong>.
    <br /><br />
Currently, as part of a machine learning initiative project, I am researching the use of machine learning and deep neural networks (CNNs) for <strong>image recognition and classification</strong> to detect craquelure patterns in modern oil paintings at IVAM. I contribute to the computerized documentation and museum management system, leveraging big data for efficient organization and participating in collaborative cataloging efforts to enhance data integration and accessibility.
    </TimeLineElement>
    <div style="margin-bottom: 20px;"></div>
    <TimeLineElement
    title="Trainee Conservator"
    subtitle="From Jun 2022 to Oct 2022 at Studio Redivivus, The Hague, The Netherlands"
  >
    <p>/ Relevant Tasks /</p>
    <ul>
      <li>• X-Ray Fluorescence (XRF) and IR <strong>Image Processing</strong>:
        <ul style="list-style-type: none; padding-left: 15px;">
          <li>Advanced techniques for analyzing and enhancing artwork images.</li>
        </ul>
      </li>
      <li>• Database Management:
        <ul style="list-style-type: none; padding-left: 15px;">
          <li>Developed and maintained databases for artwork records and conservation status. Implemented a digital inventory system for art collections using <strong>Java, Spring Boot, MySQL, HTML, CSS, and JavaScript</strong>.</li>
        </ul>
      </li>
      <li>• Condition Monitoring and Reporting:
        <ul style="list-style-type: none; padding-left: 15px;">
          <li>Automated systems for condition checks and report generation for loans and exhibitions.</li>
        </ul>
      </li>
      <li>• Preventive Conservation:
        <ul style="list-style-type: none; padding-left: 15px;">
          <li>Using data analytics to design strategies for long-term artwork preservation.</li>
        </ul>
      </li>
    </ul>
  </TimeLineElement>
  <div style="margin-bottom: 20px;"></div>
    <TimeLineElement
    title="National Museum Assistant Conservator "
    subtitle="From Apr 2021 to Jul 2021 at Museo de América, Madrid, Spain"
>
<p style="text-align: justify;">
Aa trainee student, I collaborated on the conservation project for Miguel Cabrera's "La Vida de la Virgen" series under the <strong>Getty Foundation's Conserving Canvas initiative</strong>. I was responsible for maintaining the provision of technical computer infrastructures and the implementation of Domus in museums. I worked under the guidance of Rocío Bruquetas Galán (Ministry of Culture, Spain), Carmen Ahedo Pino (Spanish Cultural Heritage Institute), and Andres Sanchez Ledesma (Arte-Lab SL).
</p> 
  <p style="margin-top: 10px;">/ Relevant Tasks /</p>
  <ul>
    <li>• Developed a <strong>relational database</strong> using <strong>SQL</strong> and <strong>PostgreSQL</strong> to track conservation interventions.</li>
    <li>• Used <strong>open-source image processing software(ImageJ)</strong> to document varnish and repaint removal.</li>
    <li>• Created technical reports with data visualization tools.</li>
    <li>• Supported the assembly of the exhibition "Más que un lance: La cultura del toro en América."</li>
    <li>
      • Managed <strong>Domus implementation</strong>, a computerized museum management system<strong>(Angular with Python Backend/Django/Flask/PostgreSQL)</strong> developed by the
      <div style="padding-left: 10px; display: inline;">Subdirectorate General of State Museums (SGME).</div>
    </li>
  </ul>
  
</TimeLineElement>


  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> 20th ICOM-CC Triennial Conference (Issued Sep 2023Issued Sep 2023, Credential ID FCPLTI6D6ZU)</a>
    </li>
    <!-- <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>c++ </li>
    <li>Python</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>Spring</li>
    <li>Django</li>
    <li>PostgreSQL</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Git</li>
    <li>Linux</li>
    <li>Chinese (native)</li>
    <li>English (bilingual)</li>
    <li>Spanish (bilingual)</li>
  </ul>
</BaseLayout>
