---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
🌟Passionate professional transitioning from the art industry🎨to tech, blending digital imaging, database management, and machine learning to drive innovation. 💻Skilled software engineer with museum and art conservation expertise, bringing meticulous and proactive problem-solving to every task.
  </div>
  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Science (MS) in Computer Science"
      subtitle="2023 to 2025 at University of York, UK"
    >
  - Current GPA: 4.0/4.0<br />
</TimeLineElement>
    <TimeLineElement
      title="Master of Science (MS) in Conservation and Restoration, specializing in Modern Materials"
      subtitle="2021 to 2023 at Universitat Politècnica de València, Spain"
    >
  - GPA: 4.0/4.0<br />
  - Honors in 20% of credits. <br />
</TimeLineElement>
    <TimeLineElement
      title="Bachelor of Arts (BA) in Conservation and Restoration, specializing in Organic Chemistry"
      subtitle="2017 to 2021 at Universidad Complutense de Madrid, Spain"
    >
  - GPA: 4.0/4.0<br />
  - Honors in 25% of credits. <br />
  </div>



  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Frontend Engineer | intern"
      subtitle="From Jul 2024 to Present at Tabak, The Hague, the Netherlands"
    >
    Designed intuitive and responsive user interfaces using <strong>Figma</strong>, emphasizing adherence to <strong>UX</strong> and <strong>UI</strong> best practices.
    <br /><br />
    Developed scalable, high-performance web applications with <strong>React</strong>, utilizing <strong>JavaScript ES6+</strong>, <strong>Redux</strong> for state management, and component-based architecture for efficient rendering and maintainability.
    </TimeLineElement>
    <div style="margin-bottom: 20px;"></div>
    <TimeLineElement
      title="Art Conservator | intern (Santander grantee)"
      subtitle="From 0ct 2022 to Sep 2023 at IVAM Institut Valencià d'Art Moderne, Valencia, Spain"
    >
    I was awarded a <strong>Santander Scholarship</strong> for my internship at the IVAM (Institut Valencià d'Art Modern). 
    <br /><br />
    This internship supported my master's research on the raised black paint layer in Antonio Saura's oil paintings from the 1950s and 60s, involving studies of about 30 paintings sourced from the collections of <strong>IVAM</strong>, the Cultural Center of the <strong>Fundació La Caixa</strong>, and the <strong>Museo Nacional Centro de Arte Reina Sofía</strong>.
    </TimeLineElement>
    <div style="margin-bottom: 20px;"></div>
    <TimeLineElement
    title="Art Conservator | intern (Erasmus+ grant)"
    subtitle="From Jun 2022 to Oct 2022 at Studio Redivivus, The Hague, The Netherlands"
  >
  My expertise in image technology includes the analysis of X-ray fluorescence (XRF) and infrared (IR) imaging. Recognized for my professional contributions, I was invited to participate in <strong>TEFAF Maastricht</strong>, the premier international fair for fine art.
    
    </TimeLineElement>
  <div style="margin-bottom: 20px;"></div>
    <TimeLineElement
    title="Art Conservator | intern "
    subtitle="From Apr 2021 to Jul 2021 at Museo de América, Madrid, Spain"
  >
  Participated in the <strong>Getty Foundation of Los Angele's</strong> Conserving Canvas Initiative and collaborated with international teams from the <strong>Getty Foundation</strong>, <strong>IPCE</strong>, <strong>Museo de América</strong>, and <strong>Arte-LabSLand</strong>.
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> 20th ICOM-CC Triennial Conference (Issued Sep 2023Issued Sep 2023, Credential ID FCPLTI6D6ZU)</a>
    </li>
    <!-- <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>c++ </li>
    <li>Python</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>Spring</li>
    <li>Django</li>
    <li>PostgreSQL</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Git</li>
    <li>Linux</li>
    <li>Chinese (native)</li>
    <li>English (bilingual)</li>
    <li>Spanish (bilingual)</li>
  </ul>
</BaseLayout>
